name: Update Movies Daily

on:
  schedule:
    - cron: "0 0 * * *"  # har 24 ghante (UTC midnight)
  workflow_dispatch:  # manually run karne ka option

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install dependencies
        run: pip install requests

      - name: Run script
        env:
          TMDB_API_KEY: ${{ secrets.TMDB_API_KEY }}
        run: python update_movies.py

      - name: Commit & Push
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add movies.json
          git commit -m "Auto update movies"
          git push
